@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: white;
}

.contenedor-index {
  padding: 10px 10px;
}

.contenedor-index header {
  width: 100%;
  height: 20px;
}

.contenedor-index .main_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor-index .main_index .inicio {
  width: 100%;
  height: 680px;
}

.contenedor-index .main_index .inicio .index_img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor-index .main_index .titulo_index h1 {
  font-size: 22px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  color: #393939;
}

.contenedor-index .main_index .texto_index p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  color: #393939;
  padding: 20px 0px;
}

.contenedor-index .main_index .titulo2_index h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
  color: #393939;
  text-align: center;
}

.contenedor-index .main_index .construcciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px;
}

.contenedor-index .main_index .construcciones .contruccion_img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

footer .contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

footer .contenedor-footer .content-foo {
  text-align: center;
}

footer .contenedor-footer .content-foo .encabezado_footer {
  color: #fff;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

footer .contenedor-footer .content-foo .texto_footer {
  color: #ccc;
  font-size: 16px;
}

footer .titulo-footer {
  text-align: center;
  font-size: 18px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

.contenedor-nosotros .main-nosotros .titulo-nosotros {
  font-size: 24px;
  padding: 10px 0px 10px 120px;
  text-align: center;
  color: #393939;
  font-weight: bold;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros .nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 60%;
          flex: 2 1 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px 0px 20px;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros .nosotros .fondo_nosotros {
  height: 100%;
  width: 100%;
  border: 3px solid gray;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros .nosotros p {
  font-size: 16px;
  line-height: 2;
  font-weight: 100;
  text-align: justify;
  margin-bottom: 1em;
  padding-left: 10px;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros .areas-proyecto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-left: 40px;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros h2 {
  text-align: left;
  color: #393939;
  font-size: 20px;
}

.contenedor-nosotros .main-nosotros .agrupa-nosotros p {
  font-size: 16px;
  line-height: 0;
  font-weight: 300;
  text-align: left;
  margin-bottom: 1em;
  padding-left: 40px;
  padding: 20px 20px 0px 20px;
}

.contenedor-proyectos .titulo_proyecto {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  color: #393939;
  font-weight: bold;
}

.contenedor-proyectos .agrupa-proyectos {
  padding-bottom: 3em;
  padding-top: 1em;
  padding-left: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "img1 img1 img2 img2" "img1 img1 img2 img2" "img3 img3 img4 img4" "img3 img3 img4 img4" "img5 img5 img6 img6" "img5 img5 img6 img6";
  grid-auto-rows: 160px;
  gap: .8em;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture::before {
  content: "Soluciones en Ingeniería";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b40f3a6;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture:hover::before {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture--g1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img1;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture--g2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img2;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture--g3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture--g4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img4;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture--g5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img5;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_picture--g6 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img6;
}

.contenedor-proyectos .agrupa-proyectos .proyectos_img {
  width: 85%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor_servicios .main-servicios .titulo-servicios {
  font-size: 24px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  color: #393939;
  font-weight: bold;
}

.contenedor_servicios .main-servicios .container-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: auto;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedor_servicios .main-servicios .container-card .card {
  width: 28%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

.contenedor_servicios .main-servicios .container-card .card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.contenedor_servicios .main-servicios .container-card .card img {
  width: 100%;
  height: 220px;
}

.contenedor_servicios .main-servicios .container-card .card .contenido-card {
  padding: 15px;
  text-align: center;
}

.contenedor_servicios .main-servicios .container-card .card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.contenedor_servicios .main-servicios .container-card .card .contenido-card li {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.contenedor_servicios .main-servicios .container-card .card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.contenedor_servicios .main-servicios .container-card .card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

.contenedor-contacto {
  padding: 0px 5px;
}

.contenedor-contacto .texto_contacto {
  font-size: 24px;
  color: #393939;
  text-align: center;
  padding-top: 10px;
}

.contenedor-contacto .grupo_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contenedor-contacto .grupo_contacto .container_contacto {
  width: 30%;
  height: auto;
  background-color: #EFEFEF;
  padding-bottom: 1rem;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__top {
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem;
  border-top: solid .4rem #af20d3;
  margin-bottom: .5rem;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__top .texto_formulario {
  font-weight: bold;
  color: #CAC8C8;
  font-size: 20px;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__top .texto_formulario span {
  color: #af20d3;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .input,
.contenedor-contacto .grupo_contacto .container_contacto .form__reg .textarea {
  background-color: #f6f6f6;
  padding: .4rem;
  margin: .4rem 0;
  border: none;
  border-bottom: solid #C8C8C8 .2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .input:focus {
  border-bottom: solid #F39B53 .2rem;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: .5rem;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__submit,
.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__reset {
  background-color: #EFEFEF;
  padding: .9rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #C8C8C8 .2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 10px;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__submit,
.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__reset {
  width: 25%;
  border-bottom: none;
  background-color: #31B1E5;
  color: white;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__reset {
  background-color: #d541fa;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__submit:hover {
  background-color: #4C9ED9;
}

.contenedor-contacto .grupo_contacto .container_contacto .form__reg .btn__form .btn__reset:hover {
  background-color: #af20d3;
}

.contenedor-contacto .grupo_contacto .cont_inf_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor-contacto .grupo_contacto .cont_inf_redes .informacion_contacto .inf_contacto_titulo {
  font-size: 21px;
  color: #393939;
}

.contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .facebook,
.contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .twitter,
.contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .instagram,
.contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .youtube {
  width: 30px;
}

@media screen and (max-width: 1230px) {
  .contenedor-index .main_index .construcciones .construccion .contruccion_img {
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 1100px) {
  .contenedor-contacto .texto_contacto {
    font-size: 18px;
  }
  .contenedor-contacto .grupo_contacto {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
  }
  .contenedor-contacto .grupo_contacto .container_contacto {
    width: 50%;
    height: auto;
  }
  .contenedor-contacto .grupo_contacto .container_contacto .form__top .texto_formulario {
    font-size: 10px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 860px) {
  .contenedor-index .main_index .inicio {
    width: 100%;
    height: 250px;
  }
  .contenedor-index .main_index .inicio .index_img {
    width: 100%;
    height: 250px;
  }
  .contenedor-index .main_index .titulo_index h1 {
    font-size: 16px;
  }
  .contenedor-index .main_index .texto_index p {
    font-size: 12px;
  }
  .contenedor-index .main_index .titulo2_index h2 {
    font-size: 14px;
  }
  .contenedor-index .main_index .construcciones .construccion .contruccion_img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 669px) {
  .contenedor_servicios .main-servicios .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor_servicios .main-servicios .card {
    margin: 15px;
    width: 80%;
  }
  .contenedor_servicios .main-servicios .card .contenido-card li {
    line-height: 1.2;
    font-size: 12px;
  }
}

@media only screen and (min-width: 670px) and (max-width: 768px) {
  .main-servicios .container-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-servicios .card {
    margin: 15px;
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .contenedor-contacto .texto_contacto {
    font-size: 18px;
  }
  .contenedor-contacto .grupo_contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contenedor-contacto .grupo_contacto .container_contacto {
    width: 80%;
    height: auto;
  }
  .contenedor-contacto .grupo_contacto .container_contacto .form__top .texto_formulario {
    font-size: 10px;
  }
  .contenedor-contacto .grupo_contacto .cont_inf_redes {
    padding-top: 10px;
  }
  .contenedor-contacto .grupo_contacto .cont_inf_redes .informacion_contacto .inf_contacto_titulo {
    font-size: 18px;
  }
  .contenedor-contacto .grupo_contacto .cont_inf_redes .informacion_contacto p {
    font-size: 14px;
  }
  .contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .facebook,
  .contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .twitter,
  .contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .instagram,
  .contenedor-contacto .grupo_contacto .cont_inf_redes .redes_sociales .youtube {
    width: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main-nosotros .agrupa-nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nosotros .areas-proyecto {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  footer .contenedor-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  footer .contenedor-footer .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }
  footer .contenedor-footer .content-foo .encabezado_footer {
    border: none;
  }
  footer .contenedor-footer .content-foo .texto_footer {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }
  footer .titulo-footer {
    font-size: 20px;
  }
  /* Proyectos */
  .contenedor-proyectos .titulo_proyecto {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  /* Proyectos */
  .contenedor-proyectos .titulo_proyecto {
    font-size: 20px;
  }
  /* index */
  .contenedor-index .main_index .inicio {
    width: 100%;
    height: 300px;
  }
  .contenedor-index .main_index .inicio .index_img {
    width: 100%;
    height: 300px;
  }
  .contenedor-index .main_index .titulo_index h1 {
    font-size: 16px;
  }
  .contenedor-index .main_index .texto_index p {
    font-size: 12px;
  }
  .contenedor-index .main_index .titulo2_index h2 {
    font-size: 14px;
  }
  .contenedor-index .main_index .construcciones {
    padding: 10px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .contenedor-index .main_index .construcciones .construccion {
    padding: 10px 0px;
  }
  .contenedor-index .main_index .construcciones .construccion .contruccion_img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */