.contenedor-nosotros {

    .main-nosotros {

        .titulo-nosotros {
            font-size: 24px;
            padding: 10px 0px 10px 120px;
            text-align: center;
            color: #393939;
            font-weight: bold;
        }

        .agrupa-nosotros {
            display: map-get($variables-disenio, d-flex);

            .nosotros {
                display: map-get($variables-disenio, d-flex);
                flex: 2 1 60%;
                flex-direction: column;
                padding: 20px 0px 0px 20px;

                .fondo_nosotros {
                    height: 100%;
                    width: 100%;
                    border: 3px solid gray;
                }

                p {
                    @include p_h3(16px, 2, 100);
                    text-align: map-get($variables-disenio, ta-align);
                    margin-bottom: 1em;
                    padding-left: 10px;

                }
            }

            .areas-proyecto {
                display: flex;
                flex: 1 1 40%;
                flex-direction: column;
                padding-top: 20px;
                padding-left: 40px;
            }

            h2 {
                text-align: left;  
                color: #393939;
                font-size: 20px;              
            }

            p {
                @include p_h3(16px, 0, 300);
                text-align: map-get($variables-disenio, tl-align);
                margin-bottom: 1em;
                padding-left: 40px;
                padding: 20px 20px 0px 20px;
            }
        }
    }
}

    // footer {

    //     width: 100%;
    // }
