.contenedor-index {
    display: map-get($variables-disenio, d-grid);
    grid-template-columns: 75% 25%;
    grid-auto-rows: 10% 80% 10%;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

    .main_index {
        grid-area: main;

        .inicio {
            padding: 40px 0px 0px 20px;

            h3 {
                @include th3(16px,2,300);
                // font-size: 16px;
                // line-height: 2;
                // font-weight: 300;
                text-align:map-get($variables-disenio , ta-align);
                // text-align: justify;
                
            }
        }
    }

    .contenedor-imagen {
        display: map-get($variables-disenio,d-flex);
        @extend %flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        .img-card {
            @extend %card;
            // height: 400px;
            // width: 200px;
            // padding: 5px;
            // margin: 20px;     
            img {
                height: 350spx;
                width: 230px;
            }       
        }
        
    }
}

header {
    grid-area: header;
}



aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}