.contenedor-index {
    padding: 10px 10px;
    header {
        width: 100%;
        height: 20px;
    }

    .main_index {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .inicio {
            width: 100%;
            height: 680px;
            .index_img {
                width: 100%;
                height: 650px;
                object-fit: cover;
            }
        }

        .titulo_index {
            h1 {
                font-size: 22px;
                line-height: 50px;
                font-weight: 600;
                letter-spacing: 0px;
                text-transform: uppercase;
                text-align: center;
                padding-top: 20px;
                color: #393939;
            }
        }

        .texto_index {
            p {
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                letter-spacing: 0px;
                text-transform: none;
                color: #393939;
                // text-align: justify;
                padding: 20px 0px;
            }
        }

        .titulo2_index {
            h2 {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0px;
                text-transform: none;
                color: #393939;
                text-align: center;
            }

        }

        .construcciones {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px 0px;

            .contruccion_img {
                width: 400px;
                height: 400px;
                object-fit: cover;
            }
        }

    }
}
